/* ======================================== general ======================================== */

body {
  background: linear-gradient(45deg, #e8ddf1 0%, #e1ebdc 100%);
}

h2 span {
  font-size: 1.4rem;
}

.ts1 {
  text-shadow: 0 0 0.1em #0000e3, 0 0 0.1em #9aff02, -0.3px -0.3px white, 0.3px 0.3px rgb(26, 2, 94);
}

#gardenInfo,
#eventInfo,
#hotelInfo,
#restaurantInfo {
  box-shadow: 0px 0px 15px #666e9c;
  -webkit-box-shadow: 0px 0px 15px #666e9c;
  -moz-box-shadow: 0px 0px 15px #666e9c;
  margin-bottom: 2rem;
}

main .card-body {
  color: gray;
}

.accordion .card-body {
  padding: 2rem;
  background-color: #dff0d8;
}

.accordion .card-body span {
  color: #007bff;
}

.accordion .card .card-header {
  background-color: #adda9a;
  background: linear-gradient(45deg, #e8ddf1 0%, #e1ebdc 100%);
}
.accordion .card .card-header:hover {
  background-color: #00ffbf;
  background-image: linear-gradient(315deg, #fdbdcb 0%, #92e6d1 74%);
  filter: hue-rotate(45deg);
}

.accordion .card .card-header h4 {
  font-weight: 600;
  color: gray;
  padding: 0.5rem 1rem 0.5rem 2rem;
  text-shadow: 0.5px 0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, -0.5px -0.5px 0 white, 0.5px 0px 0 white, 0px 0.5px 0 white, -0.5px 0px 0 white, 0px -0.5px 0 white;
}
.accordion .card .card-header p {
  padding: 0.5rem 1rem 0.5rem 2rem;
}

.accordion .card .card-header h4 span {
  font-size: 1.2rem;
  font-weight: 500;
}

/* ======================================== gardenInfo ======================================== */

#collapseOne h3,
h4 {
  margin: 0;
  display: inline-block;
}

#gardenInfo img {
  width: 100%;
}

#gardenInfo .col-12 {
  padding: 0;
}

#gardenInfo .card-body {
  padding: 2rem;
  background-color: #dff0d8;
}

#collapseOne .card {
  padding: 2rem;
  background-color: #fff;
}
#collapseOne .card-body > div > div {
  border: 1px solid lightgray;
  height: 4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.1rem;
  color: gray;
  font-weight: 600;
}

.forestnew_row {
  margin-bottom: 20px;
}

#collapseOne .card-body > div {
  margin: 0;
  padding: 0;
}

#collapseOne .card-body .col-lg-2:first-child {
  background: linear-gradient(45deg, #e8ddf1 0%, #e1ebdc 100%);
}

#collapseOne .box_cellphone .col-8 h4 {
  color: #0000e3;
  text-shadow: 0.5px 0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, -0.5px -0.5px 0 white, 0.5px 0px 0 white, 0px 0.5px 0 white, -0.5px 0px 0 white, 0px -0.5px 0 white;
}
#collapseOne .card-body:first-child > div h4 {
  text-align: center;
  /* color:#0000e3; */
  text-shadow: 0.5px 0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, -0.5px -0.5px 0 white, 0.5px 0px 0 white, 0px 0.5px 0 white, -0.5px 0px 0 white, 0px -0.5px 0 white;
}

#collapseOne .card-body .col-lg-5 .row span {
  color: gray;
  font-size: 0.9rem;
  font-weight: 400;
}
#collapseOne .card-body .col-lg-5:nth-child(7) > h4 {
  color: rgb(255, 0, 140);
  font-size: 0.9rem;
}

#collapseOne .card-body:first-child > div .col-12 h4 {
  font-size: 1.1rem;
  color: rgb(255, 0, 140);
  text-shadow: 0.5px 0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, -0.5px -0.5px 0 white, 0.5px 0px 0 white, 0px 0.5px 0 white, -0.5px 0px 0 white, 0px -0.5px 0 white;
}

#collapseOne .col-lg-2 img {
  height: 100%;
}
#collapseOne .col-lg-5 img {
  width: 2rem;
  height: 2rem;
}

#collapseTwo img {
  height: 300px;
  object-fit: cover;
}

.policy {
  width: 100%;
  background-color: gray;
}
.policy ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}

.policy ul li a {
  color: white;
  margin: 0.5rem 2rem;
}
.policy p a {
  color: white;
  margin: 0.5rem 2rem;
}

.policy ul li:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px rgb(0, 255, 191);
  border-radius: 1rem;
}
#collapseOne .box_cellphone .col-8 .col-12 h4 {
  color: rgb(255, 0, 140);
}

#collapseOne .box_cellphone > div > div {
  font-size: 0.9rem;
}
#collapseOne .box_cellphone > div > div span {
  font-size: 0.8rem;
  font-weight: 400;
}

#collapseOne .box_cellphone .col-4 p {
  /* color:#0000e3; */
  text-shadow: 0.5px 0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, -0.5px -0.5px 0 white, 0.5px 0px 0 white, 0px 0.5px 0 white, -0.5px 0px 0 white, 0px -0.5px 0 white;
}

/* ======================================== eventInfo ======================================== */
#collapseThird img {
  height: 100%;
}

#collapseThrid .card-body img {
  width: 2rem;
  height: 2rem;
}
/* ======================================== restaurantInfo ======================================== */

#restaurantInfo .collapseForth img {
  object-fit: fill;
}

#collapseFifth .card-body img {
  width: 1.25rem;
  height: 1.25rem;
}
#collapseFifth .card-body div {
  margin: 1rem;
}

/* ======================================== hotelInfo ======================================== */
#hotelInfo .d-flex img {
  flex: 1 1 0;
  width: 20%;
  height: 20%;
  object-fit: fill;
}
