body .container:nth-child(2) > h3 {
  letter-spacing: 3px;
  line-height: 2.5rem;
}

body .container:nth-child(3) {
  margin: 2.5% auto;
}

/*======================= weather =========================*/

table {
  background-color: rgb(95, 185, 173);
  color: rgb(255, 255, 255);
  width: 100%;
}

.tableOne {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0.7rem;
}

.tableOne tbody td:nth-child(2) {
  background-color: darkcyan;
  font-weight: 900;
}

.box_desktop .WD img {
  width: 100%;
  padding: 5px;
}

.box_desktop .WD {
  background-color: #e8e8eb;
}

.box_desktop .WDW {
  width: 50%;
  padding: 0.7rem;
  text-align: center;
  background-color: #e8e8eb;
  color: blue;
  font-size: 1.2rem;
  font-weight: 400;
}
.box_tablet .WD img {
  width: 100%;
  padding: 5px;
}

.box_tablet .WD {
  background-color: #e8e8eb;
}

.box_tablet .WDW {
  width: 50%;
  padding: 0.7rem;
  text-align: center;
  background-color: #e8e8eb;
  color: blue;
  font-size: 1.2rem;
  font-weight: 400;
}
.box_cellphone .WD img {
  width: 100%;
  padding: 5px;
}

.box_cellphone .WD {
  background-color: #e8e8eb;
}

.box_cellphone .WDW {
  width: 100%;
  height: 100%;
  padding: 0.7rem;
  text-align: center;
  background-color: #e8e8eb;
  color: blue;
  font-size: 1.2rem;
  font-weight: 400;
}
.box_cellphone p {
  color: gray;
}

.tableTwo {
  width: 100%;
  height: 100%;
}

.tableTwo h4 {
  vertical-align: middle;
}

.tableTwo th,
td,
p {
  padding: 3px;
  font-size: 0.9rem;
}

.tableTwo th,
td {
  border: 1px solid white;
}

.tableTwo th {
  width: 13%;
  text-align: center;
}

.tableTwo tbody th + td {
  width: 35%;
}

.tableTwo li {
  list-style: none;
}

.c_1 h1,
h3 {
  text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
}

/* =========================== grid ========================== */
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 17.5% 17.5% 17.5% 17.5% 17.5%;
  gap: 0px 0px;
  grid-template-areas:
    'grid_01 grid_02 grid_03 grid_04'
    'grid_14 map map grid_05'
    'grid_13 map map grid_06'
    'grid_12 map map grid_07'
    'grid_11 grid_10 grid_09 grid_08';
}

.grid_01 {
  grid-area: grid_01;
}

.grid_02 {
  grid-area: grid_02;
}

.grid_03 {
  grid-area: grid_03;
}

.grid_04 {
  grid-area: grid_04;
}

.grid_05 {
  grid-area: grid_05;
}

.grid_06 {
  grid-area: grid_06;
}

.grid_07 {
  grid-area: grid_07;
}

.grid_08 {
  grid-area: grid_08;
}

.grid_09 {
  grid-area: grid_09;
}

.grid_10 {
  grid-area: grid_10;
}

.grid_11 {
  grid-area: grid_11;
}

.grid_12 {
  grid-area: grid_12;
}

.grid_13 {
  grid-area: grid_13;
}

.grid_14 {
  grid-area: grid_14;
}

.map {
  grid-area: map;
  background-image: url('../images/map/map_01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.big .radioArea {
  position: absolute;
  width: 960px;
  height: 1073.63px;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small {
  overflow: hidden;
  border: white 5px solid;
  text-align: center;
  position: relative;
}
/* ====================== push ====================== */

.push-2 {
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0);
  color: transparent;
}

.grid-container .small:hover .push-2 {
  transition: all 400ms linear;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.push-2 {
  display: flex;
  align-items: center;
  position: absolute;
  text-align: center;
  pointer-events: none;
}

/* ====================== radioArea ====================== */

.box_desktop {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

input[type='radio']:after {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 1.5625rem;
  top: -2px;
  left: -2px;
  position: relative;
  background-color: #9aff02;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid orange;
}

input[type='radio']:checked:after {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 1.5625rem;
  top: -2px;
  left: -2px;
  position: relative;
  background-color: #ff9100;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #9aff02;
}

.radioArea > input:nth-child(1) {
  position: absolute;
  top: 16%;
  left: 27%;
}

.radioArea > input:nth-child(2) {
  position: absolute;
  top: 17.5%;
  left: 38%;
}

.radioArea > input:nth-child(3) {
  position: absolute;
  top: 16.5%;
  left: 51%;
}

.radioArea > input:nth-child(4) {
  position: absolute;
  top: 23%;
  left: calc(475% / 9.6);
}

.radioArea > input:nth-child(5) {
  position: absolute;
  top: 31%;
  left: 33%;
}

.radioArea > input:nth-child(6) {
  position: absolute;
  top: 43%;
  left: 51%;
}

.radioArea > input:nth-child(7) {
  position: absolute;
  top: calc(445% / 9.5);
  left: 42%;
}

.radioArea > input:nth-child(8) {
  position: absolute;
  top: 53.5%;
  left: 60%;
}

.radioArea > input:nth-child(9) {
  position: absolute;
  top: 61%;
  left: 61%;
}

.radioArea > input:nth-child(10) {
  position: absolute;
  top: 68%;
  left: calc(575% / 9.6);
}

.radioArea > input:nth-child(11) {
  position: absolute;
  top: 70%;
  left: calc(365% / 9.6);
}

.radioArea > input:nth-child(12) {
  position: absolute;
  top: 58%;
  left: calc(300% / 9.4);
}

.radioArea > input:nth-child(13) {
  position: absolute;
  top: 43%;
  left: 18%;
}

.radioArea > input:nth-child(14) {
  position: absolute;
  top: 26%;
  left: 25%;
}

.box_desktop #myCarousel .carousel-inner img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.box_tablet #myCarousel .carousel-inner img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.box_cellphone #myCarousel .carousel-inner img {
  width: 100%;
  /* height:100%; */
  object-fit: contain;
}
/* ================================================================ */

.box_desktop span {
  color: dimgray;
}
.box_tablet span {
  color: dimgray;
}

#exampleModalCenter button {
  transition: all 0.5s ease;
  width: 3rem;
  height: 3rem;
  position: absolute;
  z-index: 100;
  background-color: #ff9980;
  right: 1%;
  top: 1%;
  border-radius: 50%;
  border: 2px solid #fff;
  color: white;
  -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
}

#exampleModalCenter button:hover {
  background-color: orange;
  color: #fff;
}

.modal button {
  transition: all 0.5s ease;
  border-radius: 50%;
  transform: scale(0.6);
  background-color: #ff9980;
  border: 2px solid #fff;
  color: white;
  font-weight: 900;
  -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
}
.modal button:hover {
  background-color: orange;
}
.modal-content {
  background: none;
  background-color: white;
}
.map1 img {
  width: 100%;
  height: 100%;
}
