@charset "UTF-8";
@media only screen and (max-width: 767.98px) {
  body {
    margin: 0;
    padding: 0;
  }
  table {
    width: 100%;
  }

  .nav_02 {
    display: none;
  }

  #reservation > table > tbody > tr > th + th {
    display: none;
  }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-sm-0 {
    margin: 0 !important;
  }
  .pt-sm-0 {
    padding-top: 0;
  }
  #nav_01 .navbar-brand {
    margin: 0 auto;
  }
  /* ===================== font ===================== */

  h1 {
    padding: 1.5rem;
    font-weight: 900;
    text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
  }
  h2 {
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.15rem;
    font-weight: 600;
  }

  h5 {
    font-size: 0.8rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
    line-height: 1.8rem;
  }

  .title {
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 0.8rem 0;
    letter-spacing: 2px;
    margin-bottom: 0;
    border-radius: 0.25rem;
    text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
    background: linear-gradient(45deg, #dcc5ef 0%, #adda9a 100%);
  }
  .title1 {
    color: white;
    font-weight: 700;
    padding: 0.8rem 2rem;
    letter-spacing: 2px;
    margin-bottom: 0;
    border-radius: 0.25rem;
    text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
    background: linear-gradient(45deg, #dcc5ef 0%, #adda9a 100%);
  }

  /* ===================== nav_03 =====================

  #nav_01 .navbar-brand img {
    width: 50px;
    padding-left: 0.5rem;
    left: 0;
    top: 5px;
  }

  .nav_03 {
    background: transparent;
    z-index: 99;
  }

  .nav_03 ul {
    text-align: center;
    list-style: none;
    display: flex;
  }

  .nav_03 ul li {
    position: relative;
    width: 40px;
    cursor: pointer;
    background: #adda9a;
    transition: all 0.4s ease-out;
    border-radius: 50%;
    margin: 5px;
  }

  .nav_03 ul li a {
    display: flex;
    text-decoration: none;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    /* text-align: center;
  }

  .nav_03 ul li img {
    width: 40px;
    height: 40px;
    padding: 5px;
  } */

  /* ====================== nav_04 ====================== */

  .nav_04 {
    float: right;
    position: fixed;
    bottom: 10%;
    right: 0;
    background: transparent;
    z-index: 99;
  }

  .nav_04 ul {
    text-align: center;
    list-style: none;
  }

  .nav_04 ul li {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 50%;
  }

  .nav_04 ul li:last-child {
    display: none;
  } /*goTop* */

  .nav_04 ul li a {
    display: flex;
    text-decoration: none;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }

  .nav_04 ul li a div {
    display: inline-block;
  }

  .nav_04 ul li img {
    width: 40px;
    height: 40px;
  }

  /* ===================== index ===================== */

  .pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 350px;
  }
  .box_desktop {
    display: none;
  }
  .box_tablet {
    display: none;
  }
  .box_cellphone .small img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  #map1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #slider {
    position: relative;
    width: 100%;
    height: 300px;
  }
  #slider img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(90%);
  }

  /* ===================== HOTEL ===================== */

  .poetry1 {
    display: none;
  }
  .poetry2 {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
  }

  #myTab li {
    border-radius: 10px 10px 0 0;
    margin-right: 2px;
    padding: 0.25rem 0.5rem;
    background-color: rgb(194, 218, 226);
    font-size: 1rem;
    text-align: center;
  }

  #myTab li:hover {
    background: linear-gradient(45deg, #dcc5ef 0%, #adda9a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1);
  }

  #myTab li a {
    color: white;
    list-style: none;
    text-decoration: none;
  }
  .amenities ul {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .amenities ul li {
    position: relative;
    list-style: none;
    font-size: 0.9rem;
    font-weight: 400;
    color: #0e384b;
  }

  .hotel-data:nth-child(2) {
    display: none;
  }

  /* ===================== EVENT ===================== */
  /* ===================== NEWS ===================== */
  #gardenInfo h2 {
    text-align: center;
  }
  #eventInfo h2 {
    text-align: center;
  }
  #hotelInfo h2 {
    text-align: center;
  }
  #restaurantInfo h2 {
    text-align: center;
  }

  /* ===================== RESTAURANT ===================== */

  .tablet_cellphone .tab-content h2 {
    line-height: 1.4rem;
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: 1rem;
    margin: 0;
    text-align: center;
  }

  .box_desktop {
    font-display: none;
  }

  .seatChart_num > div > input[type='checkbox']:checked ~ label {
    background-color: #2acd72;
    font-weight: 400;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
  }

  .seatChart_num > div > input {
    display: none;
  }

  .seatChart_num > div > label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    background-color: #f98f8f;
    font-weight: 400;
    font-size: 3px;
  }

  .seatChart_num > div > label.available {
    background-color: #0000e3;
  }

  #cardBoard > div > div {
    margin: 0rem !important;
  }

  /* ===================== helpdesk ===================== */

  .con01 .message {
    margin-bottom: 2rem;
  }
}
