@charset "UTF-8";

body {
  width: 100%;
  position: relative;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, sans-serif, 微軟正黑體;
  overflow-x: hidden;
}
.container {
  width: 100%;
}
.con_01 {
  box-shadow: 0px 0px 15px #666e9c;
  -webkit-box-shadow: 0px 0px 15px #666e9c;
  -moz-box-shadow: 0px 0px 15px #666e9c;
  border-radius: 0.25rem;
}

.modal-content {
  padding: 3px;
  background: linear-gradient(45deg, #dcc5ef 0%, #adda9a 100%) no-repeat;
  background-size: 100% 10px;
  background-color: white;
}
#searchBar {
  background-color: #83a573;
}
#searchBar li {
  margin: 0 0.5rem;
}
/* ====================== Text / background-color ====================== */

pre {
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  font-size: 0;
}

h1 {
  padding: 2rem;
  font-weight: 900;
  text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
}
h2 {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

h5 {
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
  margin: 0;
  line-height: 1.8rem;
}

.title {
  text-align: center;
  color: white;
  font-weight: 700;
  padding: 0.8rem 0;
  letter-spacing: 2px;
  margin-bottom: 0;
  border-radius: 0.25rem;
  text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
  background: linear-gradient(45deg, #dcc5ef 0%, #adda9a 100%);
}
.title1 {
  color: white;
  font-weight: 700;
  padding: 0.8rem 1rem;
  letter-spacing: 2px;
  margin-bottom: 0;
  border-radius: 0.25rem;
  text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
  background: linear-gradient(45deg, #dcc5ef 0%, #adda9a 100%);
}
.title2 {
  color: white;
  font-weight: 700;
  margin-bottom: 0;
  text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
}

.c_pink_t {
  color: rgb(255, 0, 140);
}
.c_lBlue_t {
  background-color: #fff;
  background-color: #04c2ff;
}
.t_shadow {
  text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
}
.c_1 {
  text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
  color: white;
  border-radius: 0.25rem;
}
.c_2 {
  text-shadow: 0 0 0.2em #0000e3, 0 0 0.25em #9aff02, -1px -1px white, 1px 1px rgb(26, 2, 94);
  color: white;
  border-radius: 50%;
  background: linear-gradient(45deg, #dcc5ef 0%, #adda9a 100%);
}
.ts {
  padding: 0.4rem 0;
  text-shadow: 0.5px 0.5px 0 #6a676b, 0.5px -0.5px 0 #6a676b, -0.5px 0.5px 0 #6a676b, -0.5px -0.5px 0 #6a676b, 0.5px 0px 0 #6a676b, 0px 0.5px 0 #6a676b, -0.5px 0px 0 #6a676b, 0px -0.5px 0 #6a676b;
}
/* ====================== background_color ====================== */
.b-green,
.b-green:before {
  background: linear-gradient(45deg, #dcc5ef 0%, #adda9a 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1); */
}
.rot-90:hover {
  filter: hue-rotate(90deg);
}
.rot-135:hover {
  filter: hue-rotate(45deg);
}

.box_shadow {
  box-shadow: 0px 0px 15px #666e9c;
  -webkit-box-shadow: 0px 0px 15px #666e9c;
  -moz-box-shadow: 0px 0px 15px #666e9c;
}

.c_pink_b {
  background-color: rgb(255, 0, 140);
}
.c_pink {
  background-color: #ee609b;
}
.c_lBlue_b {
  background-color: #04c2ff;
}
.c_lpurple_b {
  background-color: #dcc5ef;
}

.c_2_b {
  background: linear-gradient(45deg, #dcc5ef 0%, #adda9a 100%);
  filter: hue-rotate(45deg);
}

/* ====================== input ====================== */

input[type='text']:focus {
  background-color: #cce5ff;
}

input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0px 0px 10px rgb(0, 255, 191);
}
textarea:focus {
  outline: none !important;
  border-color: #719ece;
  background-color: #cce5ff;
  box-shadow: 0px 0px 10px rgb(0, 255, 191);
}

.form-group ::-webkit-input-placeholder {
  color: #83a0be;
}
::placeholder {
  color: #83a0be;
}

input[type='number']::-webkit-inner-spin-button {
  opacity: 1;
}

/* ====================== button ====================== */

.add-to-cart,
.add-to-wishList {
  border: 2px solid white;
  margin: 0.5rem;
  color: white;
}
.add-to-cart {
  background-color: #04c2ff;
}

.add-to-wishList {
  background-color: rgb(255, 0, 140);
}
.add-to-cart i {
  color: white;
}

.add-to-wishList i {
  color: white;
}

button {
  transition: all 0.3s ease 0s;
  border: white 2px solid;
}
button:hover {
  box-shadow: 0px 0px 10px rgb(0, 255, 191);
  transform: scale(1.02);
}

a:hover {
  text-decoration: none;
}
input[tpye='button']:hover {
  box-shadow: 0px 0px 10px rgb(0, 255, 191);
  transform: scale(1.02);
  /* filter: hue-rotate(45deg); */
}
input[tpye='submit']:hover {
  box-shadow: 0px 0px 10px rgb(0, 255, 191);
  transform: scale(1.02);
  /* filter: hue-rotate(45deg); */
}

.custom-btn {
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: 3px 3px 5px rgba(119, 119, 119, 0.5);
  letter-spacing: 3px;
}

/* button */
.btn-4 {
  background-color: #adda9a;
  background-image: linear-gradient(315deg, #adda9a 0%, #dcc5ef 74%);
  line-height: 42px;
  padding: 0;
  border: none;
  font-weight: 600;
}

.btn-4:hover {
  background-image: linear-gradient(315deg, #92e6d1 0%, #fdbdcb 74%);
  box-shadow: 0px 0px 10px rgb(0, 255, 191);
  transform: scale(1.02);
  /* filter: hue-rotate(45deg); */
}

.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-4:before,
.btn-4:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}

.btn-4:before {
  height: 0%;
  width: 0.1px;
}

.btn-4:after {
  width: 0%;
  height: 0.1px;
}

.btn-4:hover:before {
  height: 100%;
}

.btn-4:hover:after {
  width: 100%;
}

.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}

.btn-4 span:before {
  width: 0.1px;
  height: 0%;
}

.btn-4 span:after {
  width: 0%;
  height: 0.1px;
}

.btn-4 span:hover:before {
  height: 100%;
}

.btn-4 span:hover:after {
  width: 100%;
}

/* ====================== priceBar ====================== */

.priceBar {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
/* ====================== header ====================== */
header {
  background-image: url('../images/bg/bg_08.png');
  background-color: black;
  -webkit-backdrop-filter: invert(85%);
  width: 100%;
  background-repeat: repeat;
}

/* ====================== nav_01 ====================== */
.cart_img {
  position: relative;
}
.nav_02 .badge {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9999;
  color: white;
  text-align: center;
  width: 16px;
}

.logo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.logo img {
  height: 200px;
}
#nav_01 .navbar-brand img {
  padding: 0;
  margin: 0 20%;
  min-width: 150px;
  height: auto;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1)); /* drop-shadow: 5px 5px 5px 3px#8d03fd; */
}
.navbar,
.navbar-brand {
  padding: 0;
}
nav#nav_01 {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 99;
  border-bottom: 5px solid #dcc5ef;
}

.navbar img {
  width: 40px;
  height: 40px;
  padding: 2.5px;
  margin: 0 5px;
}

.navbar img:hover {
  background-color: #dcc5ef;
  border: 1px dashed #8856b1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 2.5px;
  transform: scale(1);
  transition: 0.5s;
}

nav.navbar .nav-item.active {
  background-color: #5dc0df;
  border-radius: 10px;
  font-weight: 900;
}

/* ====================== nav_02 ====================== */

.nav_02 {
  float: right;
  position: fixed;
  bottom: 10%;
  /* top: 50%;
	transform: translateY(-50%); */
  right: 0;
  background: transparent;
  z-index: 99;
}

.nav_02 ul {
  text-align: center;
  list-style: none;
}

.nav_02 ul li {
  position: relative;
  transform: translateX(70px);
  width: 110px;
  cursor: pointer;
  background: #adda9a;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
  border-radius: 30%;
  /* display: inline-block; */
}

.nav_02 ul li:last-child {
  background-color: #dcc5ef;
  display: none;
} /*goTop* */

.nav_02 ul li a {
  display: flex;
  text-decoration: none;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.nav_02 ul li a div {
  display: inline-block;
}

.nav_02 ul li img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.nav_02 ul li .rw {
  background-color: #dcc5ef;
  color: rgb(255, 255, 255);
  line-height: 40px;
  width: 70px;
  height: 40px;
}

.nav_02 ul li:hover {
  transform: translateX(0px);
}

/* ====================== main ====================== */
/* ====================== push ====================== */

.push-2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: transparent;
}

.box .grid-container .small:hover .push-2 {
  transition: all 400ms linear;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

/* ====================== slider ==================== */
#slider {
  position: relative;
  width: 100%;
  height: 500px;
}
#slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(90%);
}

/* ====================== footer ====================== */
footer ul {
  list-style: none;
}
footer li img {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.3rem;
}
footer.nb-footer h4 {
  margin: 2rem 0 1.5rem 0;
  text-shadow: 0.5px 0.5px 0 #6a676b, 0.5px -0.5px 0 #6a676b, -0.5px 0.5px 0 #6a676b, -0.5px -0.5px 0 #6a676b, 0.5px 0px 0 #6a676b, 0px 0.5px 0 #6a676b, -0.5px 0px 0 #6a676b, 0px -0.5px 0 #6a676b;
}

footer.nb-footer .information {
  font-size: 1rem;
}
footer.nb-footer .information img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 0.25rem;
  padding: 5px;
}
footer.nb-footer {
  background: #83a573;
  border-top: 4px solid #dcc5ef;
  color: white;
}
footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
}

footer.nb-footer .about .social-media {
  margin-top: 1rem;
}
footer.nb-footer .about .social-media ul li {
  padding: 10px;
}

footer.nb-footer .about .social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  background-color: #adda9a;
  border-radius: 5px;
}
footer.nb-footer .about .social-media ul li a:hover {
  color: transparent;
  transform: rotate(360deg);
  border-radius: 50%;
  transition: 0.5s;
}

footer .icon-fb a:hover {
  background-image: url('../images/icon/fb_small.svg');
}
footer .icon-tw a:hover {
  background-image: url('../images/icon/twitter.svg');
}
footer .icon-ig a:hover {
  background-image: url('../images/icon/ig.svg');
}
footer .icon-p a:hover {
  background-image: url('../images/icon/p.svg');
}

/* footer.nb-footer .footer-info-single {
	margin: 2rem ; 
} */

footer.nb-footer .footer-info-single ul li a {
  color: white;
  padding: 2px 0;
}
footer.nb-footer .footer-info-single ul li a:hover {
  color: #fcf2c7;
}

footer.nb-footer .footer-info-single ul li:hover {
  transform: translateX(0.5rem);
  transition: 0.5s;
}

footer.nb-footer .copyright {
  background: #83a573;
  padding: 7px 0;
}

/* ====================== other ====================== */

.tooltip-inner {
  padding: 6px 7px;
  color: white;
  text-align: center;
  font-weight: 900;
  background: #dcc5ef;
  border-radius: 4px;
  opacity: 1;
}
